@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@400;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Noto Sans Georgian", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

section {
  padding: 2rem 0;
}

section h1 {
  margin-bottom: 4rem;
}

/* Header section */

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1a1e1f;
  transition: background-color 0.4s ease;
  color: white;
  min-height: 60px;
  align-items: center;
  z-index: 1000;
}

.main-header.transparent {
  background-color: rgba(34, 34, 34, 0.95);
}

.container {
  padding: 1rem;
  max-width: 980px;
  margin-inline: auto;
  color: white;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo img {
  max-width: 100%;
  height: auto;
}

.navigation__list {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.navigation__list a {
  color: white;
  font-size: 0.9rem;
}

.navigation__list a:hover,
.navigation__list a.active {
  color: #00aef3;
}

.navigation__menu-btn {
  font-size: 2rem;
}

.burger-menu {
  display: none;
}

/* Banner section */

.banner {
  margin-top: 60px;
  background: url("./assets/banner.png") center top no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 450px;
}

.banner__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  color: white;
  height: 100%;
}

.banner__info__title {
  font-size: 2.5rem;
  font-weight: 800;
}

.banner__info__subtitle {
  font-size: 2rem;
  font-weight: 800;
}

/* Program section */

.program-overview {
  background-color: #2b2b2b;
}

.program-overview__subtitle {
  color: white;
  font-size: 1.8rem;
  line-height: 160%;
}

.program-overview__more {
  color: #00aef3;
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: 3rem;
  background: none;
  border: none;
  outline: none;
}

.program-overview__more:hover {
  color: gray;
  cursor: pointer;
}

/* Courses section */

.courses {
  background-color: #161616;
}

.courses__title {
  font-size: 1.5rem;
}

.modules {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15.5rem, 100%), 1fr));
  row-gap: 1.4rem;
  column-gap: 2.4rem;
  grid-template-rows: 3;
}

.module {
  background-color: #161616;
  width: 100%;
  border: 1px solid gray;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.module img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.module__info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.module__title {
  font-size: 1.4rem;
  font-family: sans-serif;
}

.module__desc {
  font-size: 0.9rem;
}

.module__details {
  padding: 3rem 1rem 2rem;
  color: #00aef3;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-size: 1rem;
}

.module__details::before {
  font-family: "Font Awesome 6 Free";
  content: "\f061";
  font-size: 1.2em;
  font-weight: 900;
}

.module__details:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

/* Partners section */

.partners {
  background-color: #2b2b2b;
  position: relative;
  overflow: hidden;
}

.partners__head {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.partners__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.partners__items__img {
  flex: 1;
  min-height: 80px;
  max-width: 280px;
}

.partners__alone {
  display: flex;
  justify-content: center;
}

.partners__icon {
  width: 10px;
}

.partners__btn {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: #fff;
}

.partners__left {
  left: 150px;
}

.partners__right {
  right: 150px;
}

.partners .slider-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.partners .dot {
  width: 7px;
  height: 7px;
  margin: 0 5px;
  background-color: #777;
  border-radius: 50%;
  cursor: pointer;
}

.partners .dot.active {
  background-color: #bbb;
}

/* Queries section */

.queries {
  background-color: #161616;
}

.queries .container {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}

.queries__headlines {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  font-size: 1.5rem;
}

.queries__headlines__more {
  color: #00aef3;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: end;
  background: none;
  border: none;
  outline: none;
}

.queries__headlines__more:hover {
  color: gray;
  cursor: pointer;
}

.queries__question {
  border-bottom: 1px solid #373636;
  height: auto;
}

.queries__question button {
  width: 100%;
  background-color: #161616;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border: none;
  outline: none;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
  gap: 1rem;
}
.queries__question p {
  font-size: 0.9rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  line-height: 1.5;
  transition: all 0.6s ease;
}

.queries__question p.show {
  max-height: 1200px;
  opacity: 1;
  padding: 1rem 0;
}

.queries__question span {
  text-align: start;
}

.d-arrow {
  transition: transform 0.5s ease-in;
  color: #fff;
  font-size: 0.6rem;
}

.queries__question button .d-arrow.rotate {
  transform: rotate(180deg);
}

/* Footer section */

.footer__section {
  background-color: #1a1e1f;
}

.footer__tbc-logo {
  width: 106px;
}

.footer__logos,
.footer__social-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social-links {
  margin-left: 10px;
  width: 40px;
}

.footer__rights-reserved-container {
  margin: 20px 0px;
}

.footer__all-rights-reserved {
  color: whitesmoke;
  font-size: 0.875rem;
}

.footer__terms-and-conditions {
  color: whitesmoke;
  cursor: pointer;
  transition: color 0.4s ease;
  font-size: 0.875rem;
}

.footer__terms-and-conditions:hover {
  color: #bbb;
}

.footer__terms-and-conditions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__contact-btn {
  background-color: #00aef3;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: whitesmoke;
}

.footer__contact-btn:hover {
  transition: 0.4s;
  background-color: #d5d5d5;
  color: #353131;
}

/* Mobile version */

/* For screens smaller than 992px (large tablets) */
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .program-overview__subtitle {
    font-size: 1.8rem;
  }
}

/* For screens smaller than 768px (small tablets) */
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .navigation__list {
    display: none;
  }

  .navigation__list a {
    font-size: 1.5rem;
  }

  .burger-menu {
    display: block;
    margin-right: 5%;
    cursor: pointer;
    z-index: 111;
  }

  .burger-menu div {
    width: 50px;
    position: relative;
  }

  .burger-menu span {
    background: #f4f4f4;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 0.5s, width 0.5s;
  }

  .burger-menu .line-1 {
    width: 50%;
    transform: translate(0, -15px);
    transform-origin: 100% 100%;
  }

  .burger-menu .line-3 {
    width: 50%;
    left: auto;
    right: 0;
    transform: translate(100%, 15px);
    transform-origin: 0 0;
  }

  .openmenu .line-1 {
    transform: translate(-2px, -6px) rotate(45deg);
  }

  .openmenu .line-2 {
    transform: translate(0, -100%) rotate(-45deg);
  }

  .openmenu .line-3 {
    transform: translate(27px, -4px) rotate(45deg);
  }

  .openmenu .line-1,
  .openmenu .line-2,
  .openmenu .line-3 {
    background: #757575;
  }

  .mobile-active {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 40%;
    height: 100%;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 2.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: right;
    color: white;
    z-index: 1;
  }

  .banner__info__title {
    font-size: 1.8rem;
  }

  .banner__info__subtitle {
    font-size: 1.5rem;
  }

  .program-overview__subtitle {
    font-size: 1.5rem;
  }

  .program-overview__more {
    font-size: 1.2rem;
  }

  .partners__left,
  .partners__right,
  .slider-dots {
    display: none;
  }

  .partners__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    touch-action: pan-y;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .partners__items::-webkit-scrollbar {
    display: none;
  }
}

/* For screens smaller than 576px (mobile phones) */
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  .navigation__logo img {
    max-width: 90%;
  }

  .program-overview__subtitle {
    font-size: 1rem;
  }

  .footer__container {
    gap: 2rm;
  }

  .footer__terms-and-conditions-container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer__rights-reserved-container,
  .footer__logos,
  .footer__social-links-container {
    display: flex;
    justify-content: center;
  }
}
